//- Page header
- let { publicPath } = htmlWebpackPlugin.options
- if (!publicPath) publicPath = '/'

header.c-page-header
  .c-page-header-container
    a.c-page-header__logo(href=`${publicPath}`, title='home')
      img(
        alt='Javascript logo',
        class='c-page-header__scalable-image',
        src=require('@images/javascript.svg')
      )
    h2.c-page-header__title Learning Javascript
    span.c-page-header__author
      | by
      |
      a.c-page-header__link(
        href='//tonykevin.com',
        title='tonykevin.com') Tony kevin
